<%- include('./cabecalho'); %>
		<div class="container1">
			<div id="iframe" class="wrapper">

			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
	    </div>
	   
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script type="text/javascript">
			function myFunction() {
				var x = document.getElementById("uai").value;
				var objeto;
				objeto = document.getElementById("iframe")
				if (objeto.hasChildNodes())		
       						while (objeto.hasChildNodes()) {
            					objeto.removeChild(objeto.lastChild);
						}
						if(x=="Planalto"){
				var y = document.createElement("IFRAME");
				y.setAttribute("src", "https://docs.google.com/spreadsheets/d/1WsQQdnLA7I6cvNXCgyJIJOXuEHLGpgGoR-7hg4NrAeE/edit?usp=sharing");
				objeto.appendChild(y);
				y.style.width = "1550px";
				y.style.height = "850px"
				} 
				if(x=="Tibery"){
						var y = document.createElement("IFRAME");
						y.setAttribute("src", "https://docs.google.com/spreadsheets/d/1S4O9Wn4E25MZCooWJ542Bx2FAYyxKh5gGixNlR-fvgg/edit?usp=sharing");
						objeto.appendChild(y);
						y.style.width = "1550px";
						y.style.height = "850px";
				}			
			}
		</script>
	<%- include('./footer'); %>
</body>
</html>