.container {
    width: 1264px;
}
.navbar-right {
    float: right!important;
    margin-right: -15px;
    margin-top: 27px;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: 5px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.navbar-right .dropdown-menu {
    background: #5cb85c;
    right: 0;
    left: auto;
	height: 360px;
}

.form-entrar {
	padding-top: 10px;
}

.fundoIdade{
	background-color:#8b79f1;
}

.fundoIdade1{
	background-color:#f5ff6e;
}

.fundoIdade2{
	background-color:#a31818;
}

.pnotify-center {
	top: calc(50% - -300px) !important;
 }

 
#lista a{
	color:#333; text-decoration:none; padding:5px 10px; display:block;
}

#lista a:hover{
	background:#333;
	color:#fff;

	text-shadow:0px 0px 5px #fff;
}
#lista ul{
	position: absolute;
    top: 76px;
    /* left: -40px; */
    background-color: #fff;
    display: none;
}

#lista:hover ul, .lista.over ul{display:block;}

#lista ul li{
	border: 0px solid #ffffff;
    display: block;
    width: 102px;
    margin-left: -24px;
    /* padding-left: 36px; */
	}

#botao{
	margin-top: 10px;
}
#navbar{
	margin-right: -120px;
    margin-left: -63px;
}

#sair{

	max-width:100px;
	max-height:50px;
	width: auto;
	height: auto;
	
}


#portal {
    margin-left: 147px;
}
#img{
	padding-top: 10px;
	max-width:150px;
	max-height:100px;
	width: auto;
	height: auto;
}
.barra-superior {
	background-color: #fff;
	padding:15px;
	opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.barra-superior {
	text-align:center;
}

.barra-superior span{
	display: block;
	width: 100%;
	font-weight: bold;
}

.barra-inferior {
    position: absolute;
    bottom: 0;
	width:100%;
	text-align:center;
    height: auto;
	padding:15px;
    background-color: #fff;
	opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.barra-inferior span{
	display: block;
	width: 100%;
	font-weight: bold;
}

body{
	background:#F8F8F8;
}

a:hover{
	text-decoration: none;
	color:#000;
}

.paciente_wrapper{
	background-color: #FFF;
	padding:15px;
	margin-bottom:15px;
	box-shadow: 1px 1px 2px #C3C3C3;
}

.navbar{
	background:#FFF;
}

.paciente_autor{
	color: #FF7C26;
	display: block;
}

.paciente_titulo{
	color:#000;
	font-size:22px;
	text-decoration: none;
}

.paciente_data{
	color:#727272;
	display: block;
}

.paciente_resumo{
	color:#333;
	margin-right:10px;
}

.ver_mais{
	text-align: center;
	background:#FFF;
	padding:20px;
}