<footer style="background-color: #000000; color: white; position: fixed;bottom: 0;width: 100%;">
    <div>
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2022, All Right Reserved Bruno Ferreira Leonel Costa
      </div>
      <!-- Copyright -->

     
    </div>
  </footer>