<<<<<<< HEAD
<footer id="dk-footer" class="dk-footer">
  <div class="copyright">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-6">
                  <span>Copyright © 2021, All Right Reserved Bruno Ferreira Leonel Costa</span>
              </div>
              
              <!-- End col -->
          </div>
          <!-- End Row -->
      </div>
      <!-- End Copyright Container -->
  </div>
  <!-- End Copyright -->
  <!-- Back to top -->
</footer>
=======
<footer id="dk-footer" class="dk-footer">
  <div class="copyright">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-6">
                  <span>Copyright © 2021, All Right Reserved Bruno Ferreira Leonel Costa</span>
              </div>
              
              <!-- End col -->
          </div>
          <!-- End Row -->
      </div>
      <!-- End Copyright Container -->
  </div>
  <!-- End Copyright -->
  <!-- Back to top -->
</footer>
>>>>>>> 17b38d426456f0d2076af807e7cfc404ea34af31
