<%- include('../scih/cabecalho'); %>
		
				<h1 style="margin-left: 5%;">Bem vindo a Sistema SCORESystem</h1>
				<br />
				<h2 style="margin-left: 5%;">Intruções</h2>
				<br />
				<table style="margin-left: 5%;">
					<tr>
						<td WIDTH=100><img id="sair" src="images/tabela.png" /></td>
						<td><WIDTH=100h5>Pagina Principal</h5></td>
					</tr>
				</table>
				<br />
				<br />
				<table style="margin-left: 5%;">
					<tr>
						<td WIDTH=100><img id="sair" src="images/cadastrar.png" /></td>
						<td><h5>Cadastrar Exames</h5></td>
					</tr>
				</table>
				<br />
				<br />
				<table style="margin-left: 5%;">
					<tr>
						<td WIDTH=100><img id="sair" src="images/paciente.png" /></td>
						<td><h5>Atualizar Exames</h5></td>
					</tr>
				</table>
				<br />
				<br />
				<table style="margin-left: 5%;">
					<tr>
						<td WIDTH=100><img id="sair" src="images/acesso.jpg" /></td>
						<td><h5>Status Internados</h5></td>
					</tr>
				</table>
				<br />
				<br />
				<table style="margin-left: 5%;">
					<tr>
						<td WIDTH=100><img id="sair" src="images/sair.png" /></td>
						<td><h5>Sair da Aplicação</h5></td>
					</tr>
				</table>
			</div>
		
			<%- include('./footer'); %>
		</body>
		</html>

