<%- include('../equipamentos/cabecalhoequipamentos'); %>
<h1 style="margin-left: 5%;">SCORESystem</h1>
<p style="margin-left: 5%;">Softwares de gestão da saúde pública são ferramentas de apoio para a alta gerência obter informações precisas sobre as Unidades de Saúde, automatizar processos e elevar a eficiência e resolutividade dos procedimentos.</p>
<img style="margin-left: 5%;" src="/images/data.jpg" alt="">
<p style="margin-left: 5%;">O uso de informação, aliás, figura entre as principais ferramentas de gestão em saúde para tomada de decisão com base em parâmetros objetivos e com foco em resultados. Nesse processo, as soluções tecnológicas e digitais têm um papel essencial de permitirem coleta, armazenamento, integração, compartilhamento, processamento, análise e estudo de dados, possibilitam  a adoção de modelos de gestão mais eficientes, maior controle sobre alocação e gastos públicos e, por consequência, melhores resultados de saúde e experiências mais positivas de cuidado para os usuários. </p>
<p style="margin-left: 5%;"> Percebeu como a qualidade de dados na área da saúde otimiza os processos e gera perspectivas bastante atrativas tanto para pacientes como para profissionais das unidades? É um exemplo bastante preciso de tecnologia aplicada ao bem-estar de um amplo grupo de pessoas.</p>
<p style="margin-left: 5%;"><b>É por isso que precisamos de vocês, atualizem os dados de forma fidedigna, que através disso melhorias no processo poderá serem feitas</b></p>
<br />

</div>

<%- include('./footer'); %>
</body>
</html>


