<%- include('../escala/cabecalhoescala'); %>
	
<h1 style="margin-left: 5%;">SCORESystem</h1>
<img   style="margin-left: 5%; width: 50%; margin-bottom: 5%;" src="/images/banner.jpeg" alt="">
		
			<%- include('./footer'); %>
		</body>
		</html>

