<%- include('../mental/cabecalhomental'); %>
	</body>

		<div>
			<h1 style="margin-left: 5%;">Bem vindo a Sistema SCORESystem</h1>
			<br />
		</div>
				
		
		
		<%- include('./footer'); %>
	</body>
	</html>

<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
