<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>ScoreSystem</title>
		
		<!-- JQuery
		<script src="js/jquery-2.2.1.js"></script> -->

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">
		<!-- favicon -->
		<link rel="shortcut icon" href="images/favicon.ico" />

		
	</head>

	<body class="body-index">

 		<div class="container-fluid">
			 <div class=" container">
				<h2>Alteração da Senha</h2>
				<br>
				<br>
				<form class="form-inline" action="mudarsenha" method="post" >
					<div class="form-group mb-2">
						<label for="staticEmail2" >Usuario: </label>
						<input type="text"  class="form-control-plaintext" name="usuario" onfocus="this.value=''">
					</div>
					<div class="form-group mx-sm-3 mb-2">
						<label  for="">Senha Antiga: </label>
						<input type="password" class="form-control" name="senha_antiga" onfocus="this.value=''">
					</div>
					<div class="form-group mx-sm-3 mb-2">
						<label  for="">Senha Nova: </label>
						<input type="password" class="form-control" name="senha_nova" onfocus="this.value=''">
					</div>
					<div class="form-group mx-sm-3 mb-2">
						<label  for="">Confirmação da Senha Nova: </label>
						<input type="password" class="form-control" name="confirme_senha" onfocus="this.value=''">
					</div>
					<br>
					<br>
					<button type="submit" class="btn btn-success mb-2">Confirmar identidade</button>
				  </form>
			 </div>
		</div>
		<br>
		<br>
		<div class="container">
	    	<div id="img" class="row">
	    		<div class="col-md-2"></div>

	    		<div class="col-md-8">
					<img src="images/saude.jpg" />
				</div>

	    		<div class="col-md-2"></div>
		    	</div>
	    	</div>
	    </div>	
	
		<%- include('./footer'); %>
	</body>
	</html>
<script type="text/javascript">
	
</script>