<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Score System</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<!-- incluindo css -->

		<link rel="shortcut icon" href="/images/favicon.ico" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
			integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
	
		<!-- JavaScript and dependencies -->
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
			integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
			crossorigin="anonymous"></script>
		<!-- favicon -->

	</head>

	<body>
		
		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1298f1;" id="home">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#FFF" class="bi bi-activity"
						viewBox="0 0 16 16">
						<path fill-rule="evenodd"
							d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z" />
					</svg>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="nav mr-auto mb-2 mb-lg-0 nav-pills mb-3" id="pills-tab" role="tablist">
						<li class="nav-item" role="presentation">
							<a class="nav-link " style="color:#FFF;" data-toggle="pill" id="nav-01"
								aria-current="page" href="#nav-item-01">Pagina Inicial</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link " style="color:#FFF;" data-toggle="pill" id="nav-02"
								aria-current="page" href="#nav-item-02">UAIs</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link " style="color:#FFF;" data-toggle="pill" id="nav-03"
								aria-current="page" href="#nav-item-03">Programas</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link " style="color:#FFF;" data-toggle="pill" id="nav-04"
								aria-current="page" href="#nav-item-04">Caps</a>
						</li>
					</ul>
	
					<ul class="nav justify-content-end mb-2">
					
						<li class="mr-2 mt-2">
							<button type="button" class="btn btn-primary" id="btnfuncionarios" data-toggle="modal" data-target="#modalferias">
								Atualizar Férias/Afastamento
							</button>
						</li>
						<li class="mr-2 mt-2 ">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalvagas">
								Atualizar Vagas
							</button>
						</li>
						<li class="mr-2 mt-3" style="color:white" role="presentation">
							<%= usuario %>
						</li>
						<li class="nav-item dropdown" style="color:#FFF;">
							<a class="nav-link dropdown-toggle" href="#" style="color:#FFF;" id="navbarDropdown"
								role="button" data-toggle="dropdown" aria-expanded="false">
								<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#FFF"
									class="bi bi-people-fill" viewBox="0 0 16 16">
									<path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
									<path fill-rule="evenodd"
										d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
									<path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
								</svg>
							</a>
							<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
								<!-- <li><a class="dropdown-item" href="#">Notificação</a></li>
								<li><a class="dropdown-item" href="#">Editar Perfil</a></li> -->
								<li><a class="dropdown-item" href="/sair">Sair</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			</div>
		</nav>
	
		
							<!-- Delete Product Modal-->
							<form id="add-row-form" action="/trocarmodulo" method="POST">
								<div class="modal fade" id="BaixaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
									aria-hidden="true">
									<div class="modal-dialog">
										<div style="background-color: rgba(13, 124, 228, 0.5) !important; color: white;" class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="myModalLabel">Selecione o modulo</h5>
												<button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close"><span
														aria-hidden="true">&times;</span></button>
											</div>
											<div class="modal-body">
												<input type="hidden" name="usuario2" id="usuario2" placeholder="Usuário" class="form-control" autocomplete="off" required />
												<input type="hidden" name="senha2" id="senha2" placeholder="Senha" class="form-control" required />
												<div class="input-group">
													<span style="background-color: #FFC312;color: black;border:0 !important;" class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
													<select style="background-color: rgba(114, 155, 231, 0.4) !important; color: black;" onChange="update()" id="funcao"  class="form-control form-control-lg" required>
														<option></option>
													</select>
													<input  type="hidden" name="cargo" id="cargo">
												  </div>
										
											<div  class="modal-footer">
												<button type="submit"  class="btn btn-info btn-lg btn-block">Entrar</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<!-- Modal -->
	<div class="modal fade" id="modalvagas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Atualizar Vagas</h5>
			<button type="button"  data-dismiss="modal" >
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
					<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
				  </svg>
			</button>
			</div>
			<div class="modal-body">
		<form id="add-row-form" action="/savevagasplanalto" method="POST">
				<table class="table table-striped ">
					<thead>
						<tr>
							<th>
								<select class="form-select" id="turno" aria-label="Default select example">
									<option value="" disabled selected>Selecione um Turno</option>
									<option value="Manhã">Manhã</option>
									<option value="Tarde">Tarde</option>
									<option value="SN1">SN1</option>
									<option value="SN2">SN2</option>
									<option value="Noite">Noite</option>
									<option value="Horario do Trabalhador">Horario do Trabalhador</option>
									<option value="Diurno">Diurno</option>
								</select>
							</th>
							<input type="hidden" id="inputturno" name="inputturno">
							<th>
								<select class="form-select" style="width: 171%!important;" id="unidade"  aria-label="Default select example">
									<option value="" disabled selected>Selecione uma Unidade</option>
									<option value="Planalto">Planalto</option>
									<option value="Luizote">Luizote</option>
									<option value="Martins">Martins</option>
									<option value="Roosevelt">Roosevelt</option>
									<option value="Tibery">Tibery</option>
									<option value="Morumbi">Morumbi</option>
									<option value="Caps AD">Caps AD</option>
									<option value="Caps I">Caps I</option>
									<option value="Caps Leste">Caps Leste</option>
									<option value="Caps Oeste">Caps Oeste</option>
									<option value="Caps Norte">Caps Norte</option>
									<option value="Melhor em Casa">Melhor em Casa</option>
									<option value="CER">CER</option>
									<option value="CC">CC</option>
									<option value="UA">UA</option>
									<option value="SIATE">SIATE</option>
								</select>
							</th>
							<input type="hidden" id="inputunidade" name="unidade">
						</tr>
						<tr>
							<th>Cargo</th>
							<th style="width: 15%; text-align: center;">Quadro Previsto</th>
							<th style="width: 15%;text-align: center;">Férias/ Mês</th>
							<th style="width: 15%;text-align: center;">Licença Médica</th>
							<th style="width: 15%;text-align: center;">Vagas</th>
							<th style="width: 17%;text-align: center;">Vagas Bloqueadas</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="text" readonly name="cargoplanaltodir" class="form-control" aria-describedby="textHelpBlock" value="Diretoria de Enfermagem"></td></td>
							<td><input type="text"  name="quadroplanaltodir" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="feriasplanaltodir" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="licencaplanaltodir" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="vagasplanaltodir" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="bloqueadaplanaltodir" class="form-control" aria-describedby="textHelpBlock"></td>
						</tr>
						<tr>
							<td><input type="text" readonly name="cargoplanaltoger" class="form-control" aria-describedby="textHelpBlock" value="Gerente de Enfermagem"></td></td>
							<td><input type="text"  name="quadroplanaltoger" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="feriasplanaltoger" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="licencaplanaltoger" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="vagasplanaltoger" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="bloqueadaplanaltoger" class="form-control" aria-describedby="textHelpBlock"></td>
						</tr>
						<tr>
							<td><input type="text" readonly name="cargoplanaltoedu" class="form-control" aria-describedby="textHelpBlock" value="Educação Continuada"></td></td>
							<td><input type="text"  name="quadroplanaltoedu" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="feriasplanaltoedu" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="licencaplanaltoedu" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="vagasplanaltoedu" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="bloqueadaplanaltoedu" class="form-control" aria-describedby="textHelpBlock"></td>
						</tr>
						<tr>
							<td><input type="text" readonly name="cargoplanaltosup" class="form-control" aria-describedby="textHelpBlock" value="Supervisão de Enfermagem"></td></td>
							<td><input type="text"  name="quadroplanaltosup" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="feriasplanaltosup" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="licencaplanaltosup" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="vagasplanaltosup" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="bloqueadaplanaltosup" class="form-control" aria-describedby="textHelpBlock"></td>
						</tr>
						<tr>
							<td><input type="text" readonly name="cargoplanaltort" class="form-control" aria-describedby="textHelpBlock" value="Responsável Técnico"></td></td>
							<td><input type="text"  name="quadroplanaltort" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="feriasplanaltort" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="licencaplanaltort" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="vagasplanaltort" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="bloqueadaplanaltort" class="form-control" aria-describedby="textHelpBlock"></td>
						</tr>
						<tr>
							<td><input type="text" readonly name="cargoplanaltoqua" class="form-control" aria-describedby="textHelpBlock" value="Qualidade/SCIH"></td></td>
							<td><input type="text"  name="quadroplanaltoqua" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="feriasplanaltoqua" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="licencaplanaltoqua" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="vagasplanaltoqua" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="bloqueadaplanaltoqua" class="form-control" aria-describedby="textHelpBlock"></td>
						</tr>
						<tr>
							<td><input type="text" readonly name="cargoplanaltoenf" class="form-control" aria-describedby="textHelpBlock" value="Enfermeiros"></td></td>
							<td><input type="text"  name="quadroplanaltoenf" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="feriasplanaltoenf" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="licencaplanaltoenf" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="vagasplanaltoenf" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="bloqueadaplanaltoenf" class="form-control" aria-describedby="textHelpBlock"></td>
						</tr>
						<tr>
							<td><input type="text" readonly name="cargoplanaltotec" class="form-control" aria-describedby="textHelpBlock" value="Técnicos de Enfermagem"></td></td>
							<td><input type="text"  name="quadroplanaltotec" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="feriasplanaltotec" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="licencaplanaltotec" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="vagasplanaltotec" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="bloqueadaplanaltotec" class="form-control" aria-describedby="textHelpBlock"></td>
						</tr>
						<tr>
							<td><input type="text" readonly name="cargoplanaltoaux" class="form-control" aria-describedby="textHelpBlock" value="Auxiliar de Enfermagem"></td></td>
							<td><input type="text"  name="quadroplanaltoaux" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="feriasplanaltoaux" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="licencaplanaltoaux" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="vagasplanaltoaux" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="bloqueadaplanaltoaux" class="form-control" aria-describedby="textHelpBlock"></td>
						</tr>
						<tr>
							<td><input type="text" readonly name="cargoplanaltomul" class="form-control" aria-describedby="textHelpBlock" value="Equipe Multi"></td></td>
							<td><input type="text"  name="quadroplanaltomul" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="feriasplanaltomul" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="licencaplanaltomul" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="vagasplanaltomul" class="form-control" aria-describedby="textHelpBlock"></td>
							<td><input type="text"  name="bloqueadaplanaltomul" class="form-control" aria-describedby="textHelpBlock"></td>
						</tr>
					</tbody>
					
				</table>
			</div>
			<div class="modal-footer">

			<button type="submit" class="btn btn-primary">Salvar</button>
			</div>
			</form>
				
		</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modalferias" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Atualizar Férias</h5>
			<button type="button"  data-dismiss="modal" >
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
					<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
				  </svg>
			</button>
			</div>
			<div class="modal-body">
			<form id="add-row-form" action="/saveferiasplanalto" method="POST">
				<table class="table table-striped ">
					<thead>
						<th>
							<select class="form-select"  id="unidadeselect"  aria-label="Default select example">
								<option value="" disabled selected>Selecione uma Unidade</option>
								<option value="Planalto">Planalto</option>
								<option value="Luizote">Luizote</option>
								<option value="Martins">Martins</option>
								<option value="Roosevelt">Roosevelt</option>
								<option value="Tibery">Tibery</option>
								<option value="Morumbi">Morumbi</option>
								<option value="Caps AD">Caps AD</option>
								<option value="Caps I">Caps I</option>
								<option value="Caps Leste">Caps Leste</option>
								<option value="Caps Oeste">Caps Oeste</option>
								<option value="Caps Norte">Caps Norte</option>
								<option value="Melhor em Casa">Melhor em Casa</option>
								<option value="CER">CER</option>
								<option value="CC">CC</option>
								<option value="UA">UA</option>
								<option value="SIATE">SIATE</option>
							</select>
						</th>

					</thead>
					<input type="hidden" id="inputunidadeselect" name="unidade">
					<tbody>
						<tr>
							<td>
								<select class="form-select"  id="funcionario"  aria-label="Default select example">
									<option value=""></option>
								</select>
								<input type="hidden" id="inputfuncionario" name="funcionario">
							</td>
						</tr>
						<tr>
							<td>
								<select class="form-select"  id="situação"  aria-label="Default select example">
									<option value="" disabled selected>Selecione</option>
									<option value="ATIVO">ATIVO</option>
									<option value="ABANDONO DO CARGO">ABANDONO DO CARGO</option>
									<option value="EXPERIENCIA">EXPERIENCIA</option>
									<option value="FÉRIAS">FÉRIAS</option>
									<option value="TRANSFERENCIA">TRANSFERENCIA</option>
									<option value="PERICIA / LM">PERICIA / LM</option>
									<option value="LIC. PREMIO">LIC. PREMIO</option>
									<option value="LICENÇA MATERNIDADE">LICENÇA MATERNIDADE</option>
									<option value="VAGA DISPONIVEL">VAGA DISPONIVEL</option>
									<option value="VAGA BLOQUEADA">VAGA BLOQUEADA</option>
									<option value="GESTANTE">GESTANTE</option>
								</select>
								<input type="hidden" id="inputsituacao" name="situação">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">

			<button type="submit" class="btn btn-primary">Salvar</button>
			</div>
			</form>
				
		</div>
		</div>
	</div>
			<script>

	$("#turno").on('change', function(e){
     var turno = $(this).val();
     document.getElementById('inputturno').value = turno;
	});
	$("#unidade").on('change', function(e){
     var unidade = $(this).val();
     document.getElementById('inputunidade').value = unidade;
	});
	$("#unidadeselect").on('change', function(e){
     var unidade = $(this).val();
     document.getElementById('inputunidadeselect').value = unidade;
	});
	$("#funcionario").on('change', function(e){
     var funcionario = $(this).val();
     document.getElementById('inputfuncionario').value = funcionario;
	});
	$("#situação").on('change', function(e){
     var situacao = $(this).val();
     document.getElementById('inputsituacao').value = situacao;
	});

		 
$(document).ready(function() {
				$(".dropdown-toggle").dropdown();
			});

$('#unidadeselect').on('change', function () {

        if(document.getElementById('inputunidadeselect').value == "Planalto"){
			$.ajax({
            type: 'GET',
            url: '/buscarplanalto',
            success: function(obj) { 
				if (obj.length > 0){
                var option = '<option>Selecione o funcionario </option>';

				for(var i = 0 ; i< obj.length;i++){
					option += '<option value='+obj[i].idfuncionariosplanalto+'>'+obj[i].nome+'</option>';
				}
               
            }
			  $('#funcionario').html(option).show();            },
            error: function(output){
            alert("Falha");
            }
        });
		} 
		if(document.getElementById('inputunidadeselect').value == "Luizote"){
			$.ajax({
            type: 'GET',
            url: '/buscarluizote',
            success: function(obj) { 
				if (obj.length > 0){
                var option = '<option>Selecione o funcionario </option>';
				for(var i = 0 ; i< obj.length;i++){
					option += '<option value='+obj[i].idfuncionariosluizote+'>'+obj[i].nome+'</option>';
				}
               
            }
			  $('#funcionario').html(option).show();            },
            error: function(output){
            alert("Falha");
            }
        });
		} 
		if(document.getElementById('inputunidadeselect').value == "Martins"){
			$.ajax({
            type: 'GET',
            url: '/buscarmartins',
            success: function(obj) { 
				if (obj.length > 0){
                var option = '<option>Selecione o funcionario </option>';
				for(var i = 0 ; i< obj.length;i++){
					option += '<option value='+obj[i].idfuncionariosmartins+'>'+obj[i].nome+'</option>';
				}
               
            }
			  $('#funcionario').html(option).show();            },
            error: function(output){
            alert("Falha");
            }
        });
		} 
		if(document.getElementById('inputunidadeselect').value == "Roosevelt"){
			$.ajax({
            type: 'GET',
            url: '/buscarroosevelt',
            success: function(obj) { 
				if (obj.length > 0){
                var option = '<option>Selecione o funcionario </option>';
				for(var i = 0 ; i< obj.length;i++){
					option += '<option value='+obj[i].idfuncionariosroosevelt+'>'+obj[i].nome+'</option>';
				}
               
            }
			  $('#funcionario').html(option).show();            },
            error: function(output){
            alert("Falha");
            }
        });
		} 
		if(document.getElementById('inputunidadeselect').value == "Tibery"){
			$.ajax({
            type: 'GET',
            url: '/buscartibery',
            success: function(obj) { 
				if (obj.length > 0){
                var option = '<option>Selecione o funcionario </option>';
				for(var i = 0 ; i< obj.length;i++){
					option += '<option value='+obj[i].idfuncionariostibery+'>'+obj[i].nome+'</option>';
				}
               
            }
			  $('#funcionario').html(option).show();            },
            error: function(output){
            alert("Falha");
            }
        });
		} 
		if(document.getElementById('inputunidadeselect').value == "Morumbi"){
			$.ajax({
            type: 'GET',
            url: '/buscarmorumbi',
            success: function(obj) { 
				if (obj.length > 0){
                var option = '<option>Selecione o funcionario </option>';
				for(var i = 0 ; i< obj.length;i++){
					option += '<option value='+obj[i].idfuncionariosmorumbi+'>'+obj[i].nome+'</option>';
				}
               
            }
			  $('#funcionario').html(option).show();            },
            error: function(output){
            alert("Falha");
            }
        });
		} 
		if(document.getElementById('inputunidadeselect').value == "Melhor em Casa"){
			$.ajax({
            type: 'GET',
            url: '/buscarsad',
            success: function(obj) { 
				if (obj.length > 0){
                var option = '<option>Selecione o funcionario </option>';
				for(var i = 0 ; i< obj.length;i++){
					option += '<option value='+obj[i].idfuncionariossad+'>'+obj[i].nome+'</option>';
				}
               
            }
			  $('#funcionario').html(option).show();            },
            error: function(output){
            alert("Falha");
            }
        });
		} 
		if(document.getElementById('inputunidadeselect').value == "CER"){
			$.ajax({
            type: 'GET',
            url: '/buscarcer',
            success: function(obj) { 
				if (obj.length > 0){
                var option = '<option>Selecione o funcionario </option>';
				for(var i = 0 ; i< obj.length;i++){
					option += '<option value='+obj[i].idfuncionarioscer+'>'+obj[i].nome+'</option>';
				}
               
            }
			  $('#funcionario').html(option).show();            },
            error: function(output){
            alert("Falha");
            }
        });
		} 
		if(document.getElementById('inputunidadeselect').value == "CC"){
			$.ajax({
            type: 'GET',
            url: '/buscarcc',
            success: function(obj) { 
				if (obj.length > 0){
                var option = '<option>Selecione o funcionario </option>';
				for(var i = 0 ; i< obj.length;i++){
					option += '<option value='+obj[i].idfuncionarioscc+'>'+obj[i].nome+'</option>';
				}
               
            }
			  $('#funcionario').html(option).show();            },
            error: function(output){
            alert("Falha");
            }
        });
		} 
		if(document.getElementById('inputunidadeselect').value == "UA"){
			$.ajax({
            type: 'GET',
            url: '/buscarua',
            success: function(obj) { 
				if (obj.length > 0){
                var option = '<option>Selecione o funcionario </option>';
				for(var i = 0 ; i< obj.length;i++){
					option += '<option value='+obj[i].idfuncionariosua+'>'+obj[i].nome+'</option>';
				}
               
            }
			  $('#funcionario').html(option).show();            },
            error: function(output){
            alert("Falha");
            }
        });
		} 
		if(document.getElementById('inputunidadeselect').value == "SIATE"){
			$.ajax({
            type: 'GET',
            url: '/buscarsiate',
            success: function(obj) { 
				if (obj.length > 0){
                var option = '<option>Selecione o funcionario </option>';
				for(var i = 0 ; i< obj.length;i++){
					option += '<option value='+obj[i].idfuncionariossiate+'>'+obj[i].nome+'</option>';
				}
               
            }
			  $('#funcionario').html(option).show();            },
            error: function(output){
            alert("Falha");
            }
        });
		} 
		if(document.getElementById('inputunidadeselect').value == "Caps AD"){
			$.ajax({
            type: 'GET',
            url: '/buscarcapsad',
            success: function(obj) { 
				if (obj.length > 0){
                var option = '<option>Selecione o funcionario </option>';
				for(var i = 0 ; i< obj.length;i++){
					option += '<option value='+obj[i].idfuncionarioscapsad+'>'+obj[i].nome+'</option>';
				}
               
            }
			  $('#funcionario').html(option).show();            },
            error: function(output){
            alert("Falha");
            }
        });
		} 
		if(document.getElementById('inputunidadeselect').value == "Caps I"){
			$.ajax({
            type: 'GET',
            url: '/buscarcapsi',
            success: function(obj) { 
				if (obj.length > 0){
                var option = '<option>Selecione o funcionario </option>';
				for(var i = 0 ; i< obj.length;i++){
					option += '<option value='+obj[i].idfuncionarioscapsi+'>'+obj[i].nome+'</option>';
				}
               
            }
			  $('#funcionario').html(option).show();            },
            error: function(output){
            alert("Falha");
            }
        });
		} 
		if(document.getElementById('inputunidadeselect').value == "Caps Leste"){
			$.ajax({
            type: 'GET',
            url: '/buscarcapsleste',
            success: function(obj) { 
				if (obj.length > 0){
                var option = '<option>Selecione o funcionario </option>';
				for(var i = 0 ; i< obj.length;i++){
					option += '<option value='+obj[i].idfuncionarioscapsleste+'>'+obj[i].nome+'</option>';
				}
               
            }
			  $('#funcionario').html(option).show();            },
            error: function(output){
            alert("Falha");
            }
        });
		} 
		if(document.getElementById('inputunidadeselect').value == "Caps Oeste"){
			$.ajax({
            type: 'GET',
            url: '/buscarcapsoeste',
            success: function(obj) { 
				if (obj.length > 0){
                var option = '<option>Selecione o funcionario </option>';
				for(var i = 0 ; i< obj.length;i++){
					option += '<option value='+obj[i].idfuncionarioscapsoeste+'>'+obj[i].nome+'</option>';
				}
               
            }
			  $('#funcionario').html(option).show();            },
            error: function(output){
            alert("Falha");
            }
        });
		} 
		if(document.getElementById('inputunidadeselect').value == "Caps Norte"){
			$.ajax({
            type: 'GET',
            url: '/buscarcapsnorte',
            success: function(obj) { 
				if (obj.length > 0){
                var option = '<option>Selecione o funcionario </option>';
				for(var i = 0 ; i< obj.length;i++){
					option += '<option value='+obj[i].idfuncionarioscapsnorte+'>'+obj[i].nome+'</option>';
				}
               
            }
			  $('#funcionario').html(option).show();            },
            error: function(output){
            alert("Falha");
            }
        });
		} 

        
    });
			</script>
			