<%- include('./cabecalhoatribuicao'); %>
<div class="container">
   <button class="btn btn-success" id="target">
      Adicionar Escala
    </button>
    <button class="btn btn-danger" id="target2">
     Adicionar Escala de Parada
   </button>
   <button class="btn btn-info" id="target1">
     Adicionar Folga de Escala
   </button>
  <h2>Escala de Atribuição Martins</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a style="color: inherit;" data-toggle="tab" href="#home">Manha</a></li>
    <li><a style="color: inherit;" data-toggle="tab" href="#menu1">Tarde</a></li>
    <li><a style="color: inherit;" data-toggle="tab" href="#menu2">SN1</a></li>
    <li><a style="color: inherit;" data-toggle="tab" href="#menu3">SN2</a></li>
  </ul>
  <div class="tab-content">
   
    <div id="home" class="tab-pane fade in active">
      
<h4 style="padding-left: 1%;" for="data" > Selecione a data<span>    <input  type="date">    <button class="btn btn-info"><i class="fas fa-search"></i></button>  <button type="button" class="btn btn-success" onclick="createPDFmanha();"><i class="fas fa-download"></i></button></span></h4>
<div class="html-content" id="mobile" >
  <table class="table table-bordered table-dark display" style="width: 100%; " id="mytable">
    <thead>
      <tr style="border: none; height: 35px;" class="bg-primary">
        <th scope="col"><img width="100" height="65" style="position: relative;top: 50%;left: 30%" src="/images/logoprefeitura.jpg"></th>
        <th colspan="3" scope="col" style="text-align: center;">07/06/2021 – SEGUNDA – MANHA</th>
        <th scope="col"><img width="100" height="65" style="position: relative;top: 50%;left: 30%" src="/images/logospdm.jpg"></th>
        <th hidden></th>
        <th hidden></th>
      </tr>
    </thead>
    <tbody>
      <tr style="border: none; height: 35px;">
        <td style="text-align: center; font-size: medium; background: darkblue; color: white;" colspan="6"> Escala de Atribuição Martins</td>
        <td hidden ></td>
        <td hidden></td>
        <td hidden ></td>
        <td hidden></td>
      </tr>
      <tr style="border: none; height: 35px;" class="bg-primary">
        <td scope="col">Enfermaria</td>
        <td scope="col">Referência Azul</td>
        <td scope="col">Referência Bordo</td>
        <td scope="col">Sala de Emergência</td>
        <td scope="col">Classificação de Risco</td>
      </tr>
      <tr style="border: none; background-color:#a5a1a1!important; height: 35px;">
        <td  scope="col">1</td>
         <td  scope="col">1</td>
         <td  scope="col">1</td>
         <td  scope="col">1</td>
         <td  scope="col">1</td>
      </tr>
      <tr style="border: none; height: 35px;">
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">1</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">1</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">1</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">1</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">1</td>
      </tr>
      <tr style="border: none; height: 35px;">
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">2</td>
         <td  scope="col" class="bg-primary">Apoio Verde</td>
         <td  scope="col" class="bg-primary">Apoio Amarelo</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">2</td>
         <td  scope="col" class="bg-primary">Ginecologia/Obstetrícia</td>
      </tr>
      <tr style="border: none; height: 35px;">
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">3</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">1</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">1</td>
         <td scope="col" class="bg-primary">Classificação SINT.RESP</td>
         <td  scope="col" style="background-color:#a5a1a1!important;">1</td>
      </tr>
      <tr style="border: none; height: 35px;">
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">4</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">2</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">2</td>
         <td  scope="col" style="background-color:#a5a1a1!important;">1</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">1</td>
      </tr>
      <tr style="border: none; height: 35px;">
         <td  scope="col" class="bg-primary">SE PQ CIR</td>
         <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">3</td>
         <td  scope="col" class="bg-primary">Enf Covid Ambulatório</td>
         <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">2</td>
      </tr>
      <tr style="border: none;height: 35px;">
         <td scope="col" style="background-color:#a5a1a1!important;">1</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col" ></td>
         <td scope="col" style="background-color:#a5a1a1!important;">1</td>
         <td scope="col" class="bg-primary">Medicação Sint. Resp.</td>
         <td scope="col" class="bg-primary">Pediatria</td>
      </tr>
      <tr style="border: none;text-align: center; font-size: medium; background: rgb(255, 255, 255)">
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">1</td>
         <td scope="col" class="bg-primary">Folguista</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">1</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">1</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">1</td>
      </tr>
      <tr style="border: none;text-align: center; font-size: medium; background: rgb(255, 255, 255)">
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">2</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">1</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">2</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">2</td>
         <td scope="col" class="bg-primary">Transporte</td>
      </tr>
      <tr style="border: none;height: 35px;">
         <td  scope="col" class="bg-primary"s colspan="4" style="text-align:center">Escala de Parada</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">1</td>
        <td hidden></td>
        <td hidden></td>
        <td hidden></td>

      </tr>
      <tr style="border: none;height: 35px;"  class="bg-primary">
         <td  scope="col" style="background-color:#a5a1a1!important;">Função</td>
         <td  scope="col" style="background-color:#a5a1a1!important;">Sala de Emergência</td>
         <td  scope="col" style="background-color:#a5a1a1!important;">Emergencia SRAG</td>
         <td  scope="col" style="background-color:#a5a1a1!important;">Elemento</td>
         <td  scope="col" class="bg-primary">USG</td>
      </tr>
      <tr style="border: none;height: 35px;">
         <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Monitorização</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">1</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">1</td>
         <td  scope="col" style="background-color:#ff6105 !important;">Laranja</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">1</td>
      </tr>
      <tr style="border: none;height: 35px;">
         <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Anotação</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">2</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">2</td>
         <td  scope="col" style="background-color:#ff0505 !important;">Vermelho</td>
         <td scope="col" class="bg-primary">CME</td>
      </tr>
      <tr style="border: none;height: 35px;">
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Compressão</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">3</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">3</td>
         <td  scope="col" style="background-color:#051eff !important;">Azul</td>
         <td scope="col" style="background-color:#a5a1a1!important;">1</td>
      </tr>
      <tr style="border: none;height: 35px;">
         <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Ventilação</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">4</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">4</td>
         <td  scope="col" style="background-color:#08af3a !important;">Verde</td>
         <td  scope="col" class="bg-primary">Enfermeiro Preposto</td>
      </tr>
      <tr style="border: none;height: 35px;">
         <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Medicação</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">5</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">5</td>
         <td  scope="col" style="background-color:#e6ff05 !important;">Amarelo</td>
         <td  scope="col" style="background-color:#a5a1a1!important;">1</td>
      </tr>
      <tr style="border: none;text-align: center; font-size: medium; background: rgb(255, 255, 255)">
        <td colspan="5"  scope="col"></td>
        <td hidden></td>
        <td hidden></td>
        <td hidden></td>
        <td hidden></td>
      </tr>
      <tr style="border: none;height: 35px;">
         <td  scope="col" style="background-color:#a5a1a1!important;">Folgas Enfermeiros</td>
         <td  scope="col" style="background-color:#a5a1a1!important;">1</td>
         <td  scope="col" style="background-color:#a5a1a1!important;">2</td>
         <td  scope="col" style="background-color:#a5a1a1!important;">3</td>
         <td  scope="col" style="background-color:#a5a1a1!important;">4</td>
      </tr>
  <tr style="border: none;height: 35px;">
               <td style="background: rgb(255, 255, 255)" scope="col">Folgas Tec Enf</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">1</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">2</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">3</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">4</td>
            </tr>
            <tr style="border: none;height: 35px;">
               <td  style="background: rgb(255, 255, 255)" scope="col">Atestados/Férias</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">1</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">2</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">3</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">4</td>
            </tr>
    </tbody>
  </table>
  <br>
  <br>
 
</div>
    </div>
    <div id="menu1" class="tab-pane fade">
      
<h4 style="padding-left: 1%;" for="data" > Selecione a data<span>    <input  type="date">    <button class="btn btn-info"><i class="fas fa-search"></i></button>   <button type="button" class="btn btn-success" onclick="createPDFtarde();"><i class="fas fa-download"></i></button></span></h4>
<div id="mobile" >
  <table class="table table-bordered table-dark display" style="width: 100%; " id="mytable">
    <thead>
      <tr style=" height: 35px;" class="bg-primary">
        <th scope="col"><img width="100" height="65" style="position: relative;top: 50%;left: 30%" src="/images/logoprefeitura.jpg"></th>
        <th colspan="3" scope="col" style="text-align: center;">07/06/2021 – SEGUNDA – TARDE</th>
        <th scope="col"><img width="100" height="65" style="position: relative;top: 50%;left: 30%" src="/images/logospdm.jpg"></th>
        <th hidden></th>
        <th hidden></th>
      </tr>
    </thead>
    <tbody>
      <tr style="border: none; height: 35px;">
        <td style="text-align: center; font-size: medium; background: darkblue; color: white;" colspan="6"> Escala de Atribuição Martins</td>
        <td hidden ></td>
        <td hidden></td>
        <td hidden ></td>
        <td hidden></td>
      </tr>
      <tr style="border: none; height: 35px;" class="bg-primary">
        <td scope="col">Enfermaria</td>
        <td scope="col">Referência Azul</td>
        <td scope="col">Referência Bordo</td>
        <td scope="col">Sala de Emergência</td>
        <td scope="col">Classificação de Risco</td>
      </tr>
      <tr style="border: none; background-color:#a5a1a1!important; height: 35px;">
        <td  scope="col"></td>
         <td  scope="col"></td>
         <td  scope="col"></td>
         <td  scope="col"></td>
         <td  scope="col"  scope="col"></td>
      </tr>
      <tr style="border: none; height: 35px;">
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
      </tr>
      <tr style="border: none; height: 35px;">
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td  scope="col" class="bg-primary">Apoio Verde</td>
         <td  scope="col" class="bg-primary">Apoio Amarelo</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td  scope="col" class="bg-primary">Ginecologia/Obstetrícia</td>
      </tr>
      <tr style="border: none; height: 35px;">
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td scope="col" class="bg-primary">Classificação SINT.RESP</td>
         <td  scope="col" style="background-color:#a5a1a1!important;"></td>
      </tr>
      <tr style="border: none; height: 35px;">
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td  scope="col" style="background-color:#a5a1a1!important;"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
      </tr>
      <tr style="border: none; height: 35px;">
         <td  scope="col" class="bg-primary">SE PQ CIR</td>
         <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td  scope="col" class="bg-primary">Enf Covid Ambulatório</td>
         <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
      </tr>
      <tr style="border: none;height: 35px;">
         <td scope="col" style="background-color:#a5a1a1!important;"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col" ></td>
         <td scope="col" style="background-color:#a5a1a1!important;"></td>
         <td scope="col" class="bg-primary">Medicação Sint. Resp.</td>
         <td scope="col" class="bg-primary">Pediatria</td>
      </tr>
      <tr style="border: none;text-align: center; font-size: medium; background: rgb(255, 255, 255)">
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td scope="col" class="bg-primary">Folguista</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
      </tr>
      <tr style="border: none;text-align: center; font-size: medium; background: rgb(255, 255, 255)">
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td scope="col" class="bg-primary">Transporte</td>
      </tr>
      <tr style="border: none;height: 35px;">
         <td  scope="col" class="bg-primary"s colspan="4" style="text-align:center">Escala de Parada</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
        <td hidden></td>
        <td hidden></td>
        <td hidden></td>

      </tr>
      <tr style="border: none;height: 35px;"  class="bg-primary">
         <td  scope="col" style="background-color:#a5a1a1!important;">Função</td>
         <td  scope="col" style="background-color:#a5a1a1!important;">Sala de Emergência</td>
         <td  scope="col" style="background-color:#a5a1a1!important;">Emergencia SRAG</td>
         <td  scope="col" style="background-color:#a5a1a1!important;">Elemento</td>
         <td  scope="col" class="bg-primary">USG</td>
      </tr>
      <tr style="border: none;height: 35px;">
         <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Monitorização</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td  scope="col" style="background-color:#ff6105 !important;">Laranja</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
      </tr>
      <tr style="border: none;height: 35px;">
         <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Anotação</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td  scope="col" style="background-color:#ff0505 !important;">Vermelho</td>
         <td scope="col" class="bg-primary">CME</td>
      </tr>
      <tr style="border: none;height: 35px;">
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Compressão</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td  scope="col" style="background-color:#051eff !important;">Azul</td>
         <td scope="col" style="background-color:#a5a1a1!important;"></td>
      </tr>
      <tr style="border: none;height: 35px;">
         <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Ventilação</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td  scope="col" style="background-color:#08af3a !important;">Verde</td>
         <td  scope="col" class="bg-primary">Enfermeiro Preposto</td>
      </tr>
      <tr style="border: none;height: 35px;">
         <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Medicação</td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
         <td  scope="col" style="background-color:#e6ff05 !important;">Amarelo</td>
         <td  scope="col" style="background-color:#a5a1a1!important;"></td>
      </tr>
      <tr style="border: none;text-align: center; font-size: medium; background: rgb(255, 255, 255)">
        <td colspan="5"  scope="col"></td>
        <td hidden></td>
        <td hidden></td>
        <td hidden></td>
        <td hidden></td>
      </tr>
      <tr style="border: none;height: 35px;">
         <td  scope="col" style="background-color:#a5a1a1!important;">Folgas Enfermeiros</td>
         <td  scope="col" style="background-color:#a5a1a1!important;"></td>
         <td  scope="col" style="background-color:#a5a1a1!important;"></td>
         <td  scope="col" style="background-color:#a5a1a1!important;"></td>
         <td  scope="col" style="background-color:#a5a1a1!important;"></td>
      </tr>
  <tr style="border: none;height: 35px;">
               <td style="background: rgb(255, 255, 255)" scope="col">Folgas Tec Enf</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
            </tr>
            <tr style="border: none;height: 35px;">
               <td  style="background: rgb(255, 255, 255)" scope="col">Atestados/Férias</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
            </tr>
    </tbody>
  </table>
  <br>
  <br>
 
</div>
    </div>
    <div id="menu2" class="tab-pane fade">
      
      <h4 style="padding-left: 1%;" for="data" > Selecione a data<span>    <input  type="date">    <button class="btn btn-info"><i class="fas fa-search"></i></button>  <button type="button" class="btn btn-success" onclick="createPDFsn1();"><i class="fas fa-download"></i></button></span></h4>
      <div id="mobile" >
        <table class="table table-bordered table-dark display" style="width: 100%; " id="mytable">
          <thead>
            <tr style=" height: 35px;" class="bg-primary">
              <th scope="col"><img width="100" height="65" style="position: relative;top: 50%;left: 30%" src="/images/logoprefeitura.jpg"></th>
              <th colspan="3" scope="col" style="text-align: center;">07/06/2021 – SEGUNDA – SN1</th>
              <th scope="col"><img width="100" height="65" style="position: relative;top: 50%;left: 30%" src="/images/logospdm.jpg"></th>
              <th hidden></th>
              <th hidden></th>
            </tr>
          </thead>
          <tbody>
            <tr style="border: none; height: 35px;">
              <td style="text-align: center; font-size: medium; background: darkblue; color: white;" colspan="6"> Escala de Atribuição Martins</td>
              <td hidden ></td>
              <td hidden></td>
              <td hidden ></td>
              <td hidden></td>
            </tr>
            <tr style="border: none; height: 35px;" class="bg-primary">
              <td scope="col">Enfermaria</td>
              <td scope="col">Referência Azul</td>
              <td scope="col">Referência Bordo</td>
              <td scope="col">Sala de Emergência</td>
              <td scope="col">Classificação de Risco</td>
            </tr>
            <tr style="border: none; background-color:#a5a1a1!important; height: 35px;">
              <td  scope="col"></td>
               <td  scope="col"></td>
               <td  scope="col"></td>
               <td  scope="col"></td>
               <td  scope="col"  scope="col"></td>
            </tr>
            <tr style="border: none; height: 35px;">
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
            </tr>
            <tr style="border: none; height: 35px;">
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  scope="col" class="bg-primary">Apoio Verde</td>
               <td  scope="col" class="bg-primary">Apoio Amarelo</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  scope="col" class="bg-primary">Ginecologia/Obstetrícia</td>
            </tr>
            <tr style="border: none; height: 35px;">
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td scope="col" class="bg-primary">Classificação SINT.RESP</td>
               <td  scope="col" style="background-color:#a5a1a1!important;"></td>
            </tr>
            <tr style="border: none; height: 35px;">
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  scope="col" style="background-color:#a5a1a1!important;"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
            </tr>
            <tr style="border: none; height: 35px;">
               <td  scope="col" class="bg-primary">SE PQ CIR</td>
               <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  scope="col" class="bg-primary">Enf Covid Ambulatório</td>
               <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
            </tr>
            <tr style="border: none;height: 35px;">
               <td scope="col" style="background-color:#a5a1a1!important;"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col" ></td>
               <td scope="col" style="background-color:#a5a1a1!important;"></td>
               <td scope="col" class="bg-primary">Medicação Sint. Resp.</td>
               <td scope="col" class="bg-primary">Pediatria</td>
            </tr>
            <tr style="border: none;text-align: center; font-size: medium; background: rgb(255, 255, 255)">
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td scope="col" class="bg-primary">Folguista</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
            </tr>
            <tr style="border: none;text-align: center; font-size: medium; background: rgb(255, 255, 255)">
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td scope="col" class="bg-primary">Transporte</td>
            </tr>
            <tr style="border: none;height: 35px;">
               <td  scope="col" class="bg-primary"s colspan="4" style="text-align:center">Escala de Parada</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
              <td hidden></td>
              <td hidden></td>
              <td hidden></td>
      
            </tr>
            <tr style="border: none;height: 35px;"  class="bg-primary">
               <td  scope="col" style="background-color:#a5a1a1!important;">Função</td>
               <td  scope="col" style="background-color:#a5a1a1!important;">Sala de Emergência</td>
               <td  scope="col" style="background-color:#a5a1a1!important;">Emergencia SRAG</td>
               <td  scope="col" style="background-color:#a5a1a1!important;">Elemento</td>
               <td  scope="col" class="bg-primary">USG</td>
            </tr>
            <tr style="border: none;height: 35px;">
               <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Monitorização</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  scope="col" style="background-color:#ff6105 !important;">Laranja</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
            </tr>
            <tr style="border: none;height: 35px;">
               <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Anotação</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  scope="col" style="background-color:#ff0505 !important;">Vermelho</td>
               <td scope="col" class="bg-primary">CME</td>
            </tr>
            <tr style="border: none;height: 35px;">
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Compressão</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  scope="col" style="background-color:#051eff !important;">Azul</td>
               <td scope="col" style="background-color:#a5a1a1!important;"></td>
            </tr>
            <tr style="border: none;height: 35px;">
               <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Ventilação</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  scope="col" style="background-color:#08af3a !important;">Verde</td>
               <td  scope="col" class="bg-primary">Enfermeiro Preposto</td>
            </tr>
            <tr style="border: none;height: 35px;">
               <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Medicação</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  scope="col" style="background-color:#e6ff05 !important;">Amarelo</td>
               <td  scope="col" style="background-color:#a5a1a1!important;"></td>
            </tr>
            <tr style="border: none;text-align: center; font-size: medium; background: rgb(255, 255, 255)">
              <td colspan="5"  scope="col"></td>
              <td hidden></td>
              <td hidden></td>
              <td hidden></td>
              <td hidden></td>
            </tr>
            <tr style="border: none;height: 35px;">
               <td  scope="col" style="background-color:#a5a1a1!important;">Folgas Enfermeiros</td>
               <td  scope="col" style="background-color:#a5a1a1!important;"></td>
               <td  scope="col" style="background-color:#a5a1a1!important;"></td>
               <td  scope="col" style="background-color:#a5a1a1!important;"></td>
               <td  scope="col" style="background-color:#a5a1a1!important;"></td>
            </tr>
        <tr style="border: none;height: 35px;">
                     <td style="background: rgb(255, 255, 255)" scope="col">Folgas Tec Enf</td>
                     <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
                     <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
                     <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
                     <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
                  </tr>
                  <tr style="border: none;height: 35px;">
                     <td  style="background: rgb(255, 255, 255)" scope="col">Atestados/Férias</td>
                     <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
                     <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
                     <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
                     <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
                  </tr>
          </tbody>
        </table>
        <br>
        <br>
       
      </div>
    </div>
    <div id="menu3" class="tab-pane fade">
      
      <h4 style="padding-left: 1%;" for="data" > Selecione a data<span>    <input  type="date">    <button class="btn btn-info"><i class="fas fa-search"></i></button>  <button type="button" class="btn btn-success" onclick="createPDFsn2();"><i class="fas fa-download"></i></button></span></h4>
      <div id="mobile" >
        <table class="table table-bordered table-dark display" style="width: 100%; " id="mytable">
          <thead>
            <tr style=" height: 35px;" class="bg-primary">
              <th scope="col"><img width="100" height="65" style="position: relative;top: 50%;left: 30%" src="/images/logoprefeitura.jpg"></th>
              <th colspan="3" scope="col" style="text-align: center;">07/06/2021 – SEGUNDA – SN2</th>
              <th scope="col"><img width="100" height="65" style="position: relative;top: 50%;left: 30%" src="/images/logospdm.jpg"></th>
              <th hidden></th>
              <th hidden></th>
            </tr>
          </thead>
          <tbody>
            <tr style="border: none; height: 35px;">
              <td style="text-align: center; font-size: medium; background: darkblue; color: white;" colspan="6"> Escala de Atribuição Martins</td>
              <td hidden ></td>
              <td hidden></td>
              <td hidden ></td>
              <td hidden></td>
            </tr>
            <tr style="border: none; height: 35px;" class="bg-primary">
              <td scope="col">Enfermaria</td>
              <td scope="col">Referência Azul</td>
              <td scope="col">Referência Bordo</td>
              <td scope="col">Sala de Emergência</td>
              <td scope="col">Classificação de Risco</td>
            </tr>
            <tr style="border: none; background-color:#a5a1a1!important; height: 35px;">
              <td  scope="col"></td>
               <td  scope="col"></td>
               <td  scope="col"></td>
               <td  scope="col"></td>
               <td  scope="col"  scope="col"></td>
            </tr>
            <tr style="border: none; height: 35px;">
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
            </tr>
            <tr style="border: none; height: 35px;">
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  scope="col" class="bg-primary">Apoio Verde</td>
               <td  scope="col" class="bg-primary">Apoio Amarelo</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  scope="col" class="bg-primary">Ginecologia/Obstetrícia</td>
            </tr>
            <tr style="border: none; height: 35px;">
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td scope="col" class="bg-primary">Classificação SINT.RESP</td>
               <td  scope="col" style="background-color:#a5a1a1!important;"></td>
            </tr>
            <tr style="border: none; height: 35px;">
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  scope="col" style="background-color:#a5a1a1!important;"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
            </tr>
            <tr style="border: none; height: 35px;">
               <td  scope="col" class="bg-primary">SE PQ CIR</td>
               <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  scope="col" class="bg-primary">Enf Covid Ambulatório</td>
               <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
            </tr>
            <tr style="border: none;height: 35px;">
               <td scope="col" style="background-color:#a5a1a1!important;"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col" ></td>
               <td scope="col" style="background-color:#a5a1a1!important;"></td>
               <td scope="col" class="bg-primary">Medicação Sint. Resp.</td>
               <td scope="col" class="bg-primary">Pediatria</td>
            </tr>
            <tr style="border: none;text-align: center; font-size: medium; background: rgb(255, 255, 255)">
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td scope="col" class="bg-primary">Folguista</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
            </tr>
            <tr style="border: none;text-align: center; font-size: medium; background: rgb(255, 255, 255)">
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td scope="col" class="bg-primary">Transporte</td>
            </tr>
            <tr style="border: none;height: 35px;">
               <td  scope="col" class="bg-primary"s colspan="4" style="text-align:center">Escala de Parada</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
              <td hidden></td>
              <td hidden></td>
              <td hidden></td>
      
            </tr>
            <tr style="border: none;height: 35px;"  class="bg-primary">
               <td  scope="col" style="background-color:#a5a1a1!important;">Função</td>
               <td  scope="col" style="background-color:#a5a1a1!important;">Sala de Emergência</td>
               <td  scope="col" style="background-color:#a5a1a1!important;">Emergencia SRAG</td>
               <td  scope="col" style="background-color:#a5a1a1!important;">Elemento</td>
               <td  scope="col" class="bg-primary">USG</td>
            </tr>
            <tr style="border: none;height: 35px;">
               <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Monitorização</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  scope="col" style="background-color:#ff6105 !important;">Laranja</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
            </tr>
            <tr style="border: none;height: 35px;">
               <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Anotação</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  scope="col" style="background-color:#ff0505 !important;">Vermelho</td>
               <td scope="col" class="bg-primary">CME</td>
            </tr>
            <tr style="border: none;height: 35px;">
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Compressão</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  scope="col" style="background-color:#051eff !important;">Azul</td>
               <td scope="col" style="background-color:#a5a1a1!important;"></td>
            </tr>
            <tr style="border: none;height: 35px;">
               <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Ventilação</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  scope="col" style="background-color:#08af3a !important;">Verde</td>
               <td  scope="col" class="bg-primary">Enfermeiro Preposto</td>
            </tr>
            <tr style="border: none;height: 35px;">
               <td  style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col">Medicação</td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
               <td  scope="col" style="background-color:#e6ff05 !important;">Amarelo</td>
               <td  scope="col" style="background-color:#a5a1a1!important;"></td>
            </tr>
            <tr style="border: none;text-align: center; font-size: medium; background: rgb(255, 255, 255)">
              <td colspan="5"  scope="col"></td>
              <td hidden></td>
              <td hidden></td>
              <td hidden></td>
              <td hidden></td>
            </tr>
            <tr style="border: none;height: 35px;">
               <td  scope="col" style="background-color:#a5a1a1!important;">Folgas Enfermeiros</td>
               <td  scope="col" style="background-color:#a5a1a1!important;"></td>
               <td  scope="col" style="background-color:#a5a1a1!important;"></td>
               <td  scope="col" style="background-color:#a5a1a1!important;"></td>
               <td  scope="col" style="background-color:#a5a1a1!important;"></td>
            </tr>
        <tr style="border: none;height: 35px;">
                     <td style="background: rgb(255, 255, 255)" scope="col">Folgas Tec Enf</td>
                     <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
                     <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
                     <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
                     <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
                  </tr>
                  <tr style="border: none;height: 35px;">
                     <td  style="background: rgb(255, 255, 255)" scope="col">Atestados/Férias</td>
                     <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
                     <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
                     <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
                     <td style="text-align: center; font-size: medium; background: rgb(255, 255, 255)" scope="col"></td>
                  </tr>
          </tbody>
        </table>
        <br>
        <br>
       
      </div>
    </div>
  </div>
</div>
<form id="add-row-form1" action="/adicionandoescala" method="POST">
   <div class="modal fade" id="DescModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
             <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-header">
                         <h5 class="modal-title" id="myModalLabel">Criando nova escala de Atribuição</h5>
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                 aria-hidden="true">&times;</span></button>
                     </div>
                     <div class="modal-body">
                      <div>
                         <div class="form-group">
                            <label for="susfacil">Enfermeiro Enfermaria</label>
                            <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                         </div>
                         <div class="form-group">
                            <label for="prontuario">TEC Enf Enfermaria</label>
                            <input type="text" name="prontuario" class="form-control" placeholder="Prontuario" required >
                         </div>
                         <div class="form-group">
                            <label for="prontuario">TEC Enf Enfermaria</label>
                            <input type="text" name="prontuario" class="form-control" placeholder="Prontuario" required >
                         </div>
                         <div class="form-group">
                            <label for="prontuario">TEC Enf Enfermaria</label>
                            <input type="text" name="prontuario" class="form-control" placeholder="Prontuario" required >
                         </div>
                         <div class="form-group">
                            <label for="prontuario">TEC Enf Enfermaria</label>
                            <input type="text" name="prontuario" class="form-control" placeholder="Prontuario" required >
                         </div>
                         <div class="form-group">
                            <label for="prontuario">TEC Enf Enfermaria</label>
                            <input type="text" name="prontuario" class="form-control" placeholder="Prontuario" required >
                         </div>
                         <div class="form-group">
                            <label for="prontuario">TEC Enf Enfermaria</label>
                            <input type="text" name="prontuario" class="form-control" placeholder="Prontuario" required >
                         </div>
                         <div class="form-group">
                            <label for="paciente">Enfermeiro Referência Azul</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Tec Enf Referência Azul</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Enfermeiro Referência Bordo</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Tec Enf Referência Bordo</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Enfermeiro Sala de Emergência</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Tec Enf Sala de Emergência</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Tec Enf Sala de Emergência</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Tec Enf Sala de Emergência</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Classificação de Risco</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Classificação de Risco</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Tec Enf Transporte</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Tec Enf Transporte</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Enfermeiro Medicação</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Tec Enf Medicação</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Tec Enf Medicação</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Enfermeiro CME</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Tec Enf CME</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Enfermeiro Traumatologia</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Tec Enf Traumatologia</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Tec Enf Traumatologia</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Enfermeiro Fast Track</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Tec Enf Fast Track</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Tec Enf Sala Amarela</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Maqueiro</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Maqueiro</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Enfermeiro Pediatria</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Tec Enf Pediatria</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Tec Enf Pediatria</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                         <div class="form-group">
                            <label for="paciente">Enfermeiro Preposto</label>
                            <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                         </div>
                      </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                         <button type="submit" class="btn btn-success">Atualizar</button>
                     </div>
                 </div>
             </div>
         </div>
   </div>
     </form>
     <form id="add-row-form2" action="/adicionandoescala" method="POST">
       <div class="modal fade" id="DescModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                 <div class="modal-dialog">
                     <div class="modal-content">
                         <div class="modal-header">
                             <h5 class="modal-title" id="myModalLabel">Adicionando Folgas</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                     aria-hidden="true">&times;</span></button>
                         </div>
                         <div class="modal-body">
                          <div>
                             <div class="form-group">
                                <label for="susfacil">Folga Enfermeiro 1</label>
                                <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                             </div>
                             <div class="form-group">
                               <label for="susfacil">Folga Enfermeiro 2</label>
                               <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                            </div>
                            <div class="form-group">
                               <label for="susfacil">Folga Enfermeiro 3</label>
                               <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                            </div>
                            <div class="form-group">
                               <label for="susfacil">Folga Enfermeiro 4</label>
                               <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                            </div>
                            <div class="form-group">
                               <label for="susfacil">Folga Tec Enf 1</label>
                               <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                            </div>
                            <div class="form-group">
                               <label for="susfacil">Folga Tec Enf 2</label>
                               <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                            </div>
                            <div class="form-group">
                               <label for="susfacil">Folga Tec Enf 3</label>
                               <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                            </div>
                            <div class="form-group">
                               <label for="susfacil">Folga Tec Enf 4</label>
                               <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                            </div>
                             <div class="form-group">
                                <label for="paciente">Atestados/Ferias 1</label>
                                <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                             </div>
                             <div class="form-group">
                               <label for="paciente">Atestados/Ferias 2</label>
                               <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                            </div>
                            <div class="form-group">
                               <label for="paciente">Atestados/Ferias 3</label>
                               <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                            </div>
                            <div class="form-group">
                               <label for="paciente">Atestados/Ferias 4</label>
                               <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                            </div>
                          </div>
                         <div class="modal-footer">
                             <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                             <button type="submit" class="btn btn-success">Atualizar</button>
                         </div>
                     </div>
                 </div>
             </div>
       </div>
         </form>
         <form id="add-row-form2" action="/adicionandoescala" method="POST">
          <div class="modal fade" id="DescModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="myModalLabel">Criando nova escala de Parada</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                             <div>
                                <div class="form-group">
                                   <label for="susfacil">Monitorização 1</label>
                                   <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                                </div>
                                <div class="form-group">
                                  <label for="susfacil">Monitorização 2</label>
                                  <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                               </div>
                               <div class="form-group">
                                  <label for="susfacil"> Anotação 1</label>
                                  <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                               </div>
                               <div class="form-group">
                                  <label for="susfacil">Anotação 2</label>
                                  <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                               </div>
                               <div class="form-group">
                                  <label for="susfacil">Compressão 1</label>
                                  <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                               </div>
                               <div class="form-group">
                                  <label for="susfacil">Compressão 2</label>
                                  <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                               </div>
                               <div class="form-group">
                                  <label for="susfacil">Ventilação 1</label>
                                  <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                               </div>
                               <div class="form-group">
                                  <label for="susfacil">Ventilação 2</label>
                                  <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                               </div>
                               <div class="form-group">
                                  <label for="susfacil">Medicação 1</label>
                                  <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                               </div>
                               <div class="form-group">
                                  <label for="susfacil">Medicação 2</label>
                                  <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                               </div>
                             </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn btn-success">Atualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
            </form>
 <!-- <%- include('../home/footer'); %> -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script> 
 <script src="https://cdn.jsdelivr.net/npm/canvas2image@1.0.5/canvas2image.min.js"></script>
 <!-- Importando o jQuery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous"></script>
   
 <!-- Importando o js do bootstrap -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 <script>
 //     $(function(){
 // 	$(window).on('resize load', function() {
 // 			if ($(window).width() <= 768) { 
 // 				$("#mobile").removeClass("container");
 // 		}
 // 			else {
 // 				$("#mobile").addClass("container");
 // 		}
 // 	});
 // });
 $( "#target" ).click(function() {
   $('#DescModal').modal("show");
 });
 $( "#target1" ).click(function() {
   $('#DescModal1').modal("show");
 });
 $( "#target2" ).click(function() {
   $('#DescModal2').modal("show");
 });
 
 //Create PDf from HTML...
 function createPDFmanha() {
     var HTML_Width = $(".html-content").width();
     var HTML_Height = $(".html-content").height();
     var top_left_margin = 15;
     var PDF_Width = (HTML_Width)  + (top_left_margin * 2);
     var PDF_Height = (PDF_Width) + (top_left_margin * 2);
     var canvas_image_width = HTML_Width;
     var canvas_image_height = HTML_Height;
 
     var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;
 
     html2canvas($(".html-content")[0]).then(function (canvas) {
         var imgData = canvas.toDataURL("image/jpeg", 1.0);
         var pdf = new jsPDF('l', 'pt', [PDF_Width, PDF_Height]);
         pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
         for (var i = 1; i <= totalPDFPages; i++) { 
             pdf.addPage(PDF_Width, PDF_Height);
             pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height);
         }
         pdf.save("ScoreSystem Escala Atribuição Manha");
         
     });
 }
 
 (function($){
     $.fn.createPdftarde = function(parametros) {
         
         var config = {              
             'fileName':'html-to-pdf'
         };
         
         if (parametros){
             $.extend(config, parametros);
         }                            
 
         var quotes = document.getElementById($(this).attr('id'));
 
         html2canvas(quotes, {
             onrendered: function(canvas) {
                 var pdf = new jsPDF('l', 'pt', 'a4');
 
                 for (var i = 0; i <= quotes.clientHeight/1080; i++) {
                     var srcImg  = canvas;
                     var sX      = 0;
                     var sY      = 980*i;
                     var sWidth  = 1500;
                     var sHeight = 1080;
                     var dX      = 0;
                     var dY      = 0;
                     var dWidth  = 900;
                     var dHeight = 980;
 
                     window.onePageCanvas = document.createElement("canvas");
                     onePageCanvas.setAttribute('width', 1400);
                     onePageCanvas.setAttribute('height', 1080);
                     var ctx = onePageCanvas.getContext('2d');
                     ctx.drawImage(srcImg,sX,sY,sWidth,sHeight,dX,dY,dWidth,dHeight);
 
                     var canvasDataURL = onePageCanvas.toDataURL("image/png", 1.0);
                     var width         = onePageCanvas.width;
                     var height        = onePageCanvas.clientHeight;
 
                     if (i > 0) {
                         pdf.addPage(512, 691);
                     }
 
                     pdf.setPage(i+1);
                     pdf.addImage(canvasDataURL, 'png', 20, 20, 1310, 691);
                 }
 
                 pdf.save(config.fileName);
             }
         });
     };
 })(jQuery);
 
 (function($){
     $.fn.createPdfsn1 = function(parametros) {
         
         var config = {              
             'fileName':'html-to-pdf'
         };
         
         if (parametros){
             $.extend(config, parametros);
         }                            
 
         var quotes = document.getElementById($(this).attr('id'));
 
         html2canvas(quotes, {
             onrendered: function(canvas) {
                 var pdf = new jsPDF('l', 'pt', 'a4');
 
                 for (var i = 0; i <= quotes.clientHeight/1080; i++) {
                     var srcImg  = canvas;
                     var sX      = 0;
                     var sY      = 980*i;
                     var sWidth  = 1500;
                     var sHeight = 1080;
                     var dX      = 0;
                     var dY      = 0;
                     var dWidth  = 900;
                     var dHeight = 980;
 
                     window.onePageCanvas = document.createElement("canvas");
                     onePageCanvas.setAttribute('width', 1400);
                     onePageCanvas.setAttribute('height', 1080);
                     var ctx = onePageCanvas.getContext('2d');
                     ctx.drawImage(srcImg,sX,sY,sWidth,sHeight,dX,dY,dWidth,dHeight);
 
                     var canvasDataURL = onePageCanvas.toDataURL("image/png", 1.0);
                     var width         = onePageCanvas.width;
                     var height        = onePageCanvas.clientHeight;
 
                     if (i > 0) {
                         pdf.addPage(512, 691);
                     }
 
                     pdf.setPage(i+1);
                     pdf.addImage(canvasDataURL, 'png', 20, 20, 1310, 691);
                 }
 
                 pdf.save(config.fileName);
             }
         });
     };
 })(jQuery);
 
 (function($){
     $.fn.createPdfsn2 = function(parametros) {
         
         var config = {              
             'fileName':'html-to-pdf'
         };
         
         if (parametros){
             $.extend(config, parametros);
         }                            
 
         var quotes = document.getElementById($(this).attr('id'));
 
         html2canvas(quotes, {
             onrendered: function(canvas) {
                 var pdf = new jsPDF('l', 'pt', 'a4');
 
                 for (var i = 0; i <= quotes.clientHeight/1080; i++) {
                     var srcImg  = canvas;
                     var sX      = 0;
                     var sY      = 980*i;
                     var sWidth  = 1500;
                     var sHeight = 1080;
                     var dX      = 0;
                     var dY      = 0;
                     var dWidth  = 900;
                     var dHeight = 980;
 
                     window.onePageCanvas = document.createElement("canvas");
                     onePageCanvas.setAttribute('width', 1400);
                     onePageCanvas.setAttribute('height', 1080);
                     var ctx = onePageCanvas.getContext('2d');
                     ctx.drawImage(srcImg,sX,sY,sWidth,sHeight,dX,dY,dWidth,dHeight);
 
                     var canvasDataURL = onePageCanvas.toDataURL("image/png", 1.0);
                     var width         = onePageCanvas.width;
                     var height        = onePageCanvas.clientHeight;
 
                     if (i > 0) {
                         pdf.addPage(512, 691);
                     }
 
                     pdf.setPage(i+1);
                     pdf.addImage(canvasDataURL, 'png', 20, 20, 1310, 691);
                 }
 
                 pdf.save(config.fileName);
             }
         });
     };
 })(jQuery);
  
 
 // function createPDFmanha() {
 //     $('#home').createPdfmanha({
 //         'fileName' : 'ScoreSystem - Atribuição Manha'
 //     });
 // }
 
 function createPDFtarde() {
     $('#menu1').createPdftarde({
         'fileName' : 'ScoreSystem - Atribuição Tarde'
     });
 }
 
 function createPDFsn1() {
     $('#menu2').createPdfsn1({
         'fileName' : 'ScoreSystem - Atribuição SN1'
     });
 }
 
 function createPDFsn2() {
     $('#menu3').createPdfsn2({
         'fileName' : 'ScoreSystem - Atribuição SN2'
     });
 }
 </script>