<%- include('./cabecalho'); %>
<div id="iframe" class="container">

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</div>
	   
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script type="text/javascript">
			function myFunction() {
				var x = document.getElementById("uai").value;
				var objeto;
				objeto = document.getElementById("iframe")
				if (objeto.hasChildNodes())		
       						while (objeto.hasChildNodes()) {
            					objeto.removeChild(objeto.lastChild);
						}
				if(x=="Planalto"){
				var y = document.createElement("IFRAME");
				y.setAttribute("src", "https://docs.google.com/spreadsheets/d/1S6xZ6HkA_wtK-A1Yc2kWBquw6ksiOjbZ3CO7NJONElI/edit?usp=sharing");
				objeto.appendChild(y);
				y.style.width = "2550px";
				y.style.height = "1350px";
				} 
				if(x=="Tibery"){
						var y = document.createElement("IFRAME");
						y.setAttribute("src", "https://docs.google.com/spreadsheets/d/1tkCjteU5Uh-hQB2mAF28iEwAJ8S8bcBJj9B3ZxSHWaY/edit?usp=sharing");
						objeto.appendChild(y);
						y.style.width = "2550px";
				y.style.height = "1350px";
				}		
			}
		</script>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
	
</body>
</html>