<%- include('./cabecalho'); %>
<div id="iframe" class="container">

	<br>
	<br>
	<br>
	<br>
	<br>
</div>
	   
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script type="text/javascript">
			function myFunction() {
				var x = document.getElementById("uai").value;
				var objeto;
				objeto = document.getElementById("iframe")
				if (objeto.hasChildNodes())		
       						while (objeto.hasChildNodes()) {
            					objeto.removeChild(objeto.lastChild);
						}
						if(x=="Planalto"){
				var y = document.createElement("IFRAME");
				y.setAttribute("src", "https://docs.google.com/spreadsheets/d/1GXyzL-25Dya79iSHLVACISVGRZnfarGRXnARApfoTp8/edit?usp=sharing");
				objeto.appendChild(y);
				y.style.width = "2550px";
				y.style.height = "850px"
				} 
				if(x=="Tibery"){
						var y = document.createElement("IFRAME");
						y.setAttribute("src", "https://docs.google.com/spreadsheets/d/1Y-b6KbmOwta118ViqaJQiSOUJgAMTRvVVErrqMyZQPo/edit?usp=sharing");
						objeto.appendChild(y);
						y.style.width = "2550px";
						y.style.height = "850px";
				}			
			}
		</script>
<%- include('../home/footer'); %>
</body>
</html>