<%- include('./cabecalho'); %>
<div id="iframe" >

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</div>
	   
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script type="text/javascript">
			function myFunction() {
				var x = document.getElementById("uai").value;
				var objeto;
				objeto = document.getElementById("iframe")
				if (objeto.hasChildNodes())		
       						while (objeto.hasChildNodes()) {
            					objeto.removeChild(objeto.lastChild);
						}
						if(x=="Planalto"){
				var y = document.createElement("IFRAME");
				y.setAttribute("src", "https://docs.google.com/spreadsheets/d/1zXJAlLJpIu_-XAUC6i0sVwsdfFbJeGWIYJ6alJDCg2Q/edit?usp=sharing");
				objeto.appendChild(y);
				y.style.width = "1850px";
				y.style.height = "800px"
				} 
				if(x=="Tibery"){
						var y = document.createElement("IFRAME");
						y.setAttribute("src", "https://docs.google.com/spreadsheets/d/1d7T_j1BshWPZojfWqQJcTWnskiSkLfZBjwnA_PjnnFc/edit?usp=sharing");
						objeto.appendChild(y);
						y.style.width = "1850px";
						y.style.height = "800px"
				}		
			}
		</script>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>

</body>
</html>